<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <title>Title</title>
</head>

<body>
<div id="app" class="container p-5">
    <div class=" p-3 gap-3 flex flex-col">
        <h1
                :style="{
        color: inputValue.length < 5 ? 'red': 'green',
        fontSize: inputValue.length < 5 ? '1rem': '2rem'
        }"
                :class="notes.length > 5? 'font-bold': 'font-extralight'

">{{ title }}</h1>
        <input
                type="text"
                :placeholder="placeholderString"
                v-model="inputValue"
                :class="{'input w-full max-w-xs': true, 'input-bordered': inputValue.length > 4}"
                @keyup.enter="addNewNote"
        />
        <button @click="addNewNote" :class="['btn', {'btn-accent': inputValue.length < 5 }]">Добавить</button>
    </div>
    <div class="overflow-x-auto">
        <table v-if="notes.length !== 0" class="table">
            <!-- head -->
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in notes">
                <th>{{ index + 1 }}</th>
                <td>{{ toUpperCase(item) }}</td>
                <td>
                    <button @click="deleteNote(index, $event)" class="btn btn-error">X</button>
                </td>
            </tr>
            </tbody>
            <strong>Общее количество: {{ notes.length }}</strong> удовоенное число: {{ doubleCountComp }}
        </table>
        <h2 v-else>Заметок нет</h2>
    </div>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>